
a {
    color: $blue !important;
}

table td, table td * {
    vertical-align: top;
}

.maintable {
    border-collapse: collapse;
    border: none;
    table-layout: fixed;
}
.left {
    text-align: right;
    padding-left: 5%;
    padding-right: 5%;
    width: 20%;
}
.middle {
    width: 55%;
    padding-right: 5%;
}
.right {
    padding-right: 5%;
}

.title {
    text-decoration: none;
}

.ccimg {
    border-width: 0px;
}

