<p style="text-align:right">Days without lynx compatibility: 0</p>
<a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
  <img alt="Creative Commons License" style="border-width:0" src="$docroot$stc/cc-by-sa.png" />
</a>
<br />
<p><a href="https://gitlab.com/PoroCYon/kibystu">Website source and SSG</a></p>
<br />
This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
